<div class="pantalla">
    <div class="jt-card jt-horizontal" style="max-width: 70%; max-height: 75%;">
        <div style="max-width: 50%; overflow: hidden;" >
            <img src="https://th.bing.com/th/id/OIG3.xnOdzX5cfBJ0qoa50xkp?w=1024&h=1024&rs=1&pid=ImgDetMain" />
        </div>
        <div class="verticalForm" style=" padding: 10px; min-width: 50%;">

            <div class="verticalForm" style="gap: 35px; margin-top: 40px;">
                <div class="titulo" style="align-self: flex-start;">
                    Iniciar Sesion
                </div>
                <div>
                    <jt-campo etiqueta="Correo Electronico" ayuda="Ingresa tu correo" tipodecampo="mail"
                        [textoCampo]="value" id="email">

                    </jt-campo>
                </div>
                <div>
                    <jt-campo etiqueta="Clave" ayuda="Ingrese la clave" [textoCampo]="value" id="clave"
                        tipodecampo="password">

                    </jt-campo>
                </div>
                <div style="align-self: flex-start;">
                    <p-checkbox [(ngModel)]="recordarme" [binary]="true" inputId="recuerdame" />
                    <label>
                        Recordarme
                    </label>
                </div>


            </div>



            <div>
                <p-button label="Ingresar" />
            </div>
        </div>
    </div>

</div>