<p>login-signup works!</p>

<div>
    
    <p-card>
        <div>
            <span>
                Hello!
            </span>
            <span>
                Create Prductive work, together!
            </span>
            <div>

            </div>
        </div>
        <div>
            <div class="flex flex-column gap-2">
                <input 
                    pInputText 
                    id="username" 
                    aria-describedby="username-help"/>
                <small id="username-help">
                    FULL NAME
                </small>
            </div>
            <div>
                <div class="flex flex-column gap-2">
                    <input 
                        pInputText 
                        id="age" 
                        aria-describedby="username-help"/>
                    <small id="username-age">
                        AGE
                    </small>
                </div>
                <div class="flex flex-column gap-2">
                    <input 
                        pInputText 
                        id="date-of-birth" 
                        aria-describedby="username-help"/>
                    <small id="username-dob">
                        DATE OF BIRTH
                    </small>
                </div>
            </div>
            <div class="flex flex-column gap-2">
                <input 
                    pInputText 
                    id="email-adrress" 
                    aria-describedby="username-help"/>
                <small id="username-adrress">
                    E-MAIL ADDRESS
                </small>
            </div>
            <div class="flex flex-column gap-2">
                <input 
                    pInputText 
                    id="password" 
                    aria-describedby="username-help"/>
                <small id="username-pass">
                    PASSWORD
                </small>
            </div>
        </div>
        <div>
            <p-button label="SING UP">

            </p-button>
        </div>
    </p-card>
</div>